.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.3) 26%, rgba(0, 0, 0, 0.6) 51%);
    // border-bottom: 1px solid #e5e7eb;
    padding: var(--space-xs) 0;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

.navDesktop {
    display: flex;
    gap: var(--space-lg);
}

.navLink, .active {
    font-size: var(--font-md);
    text-decoration: none;
    position: relative;
    font-weight: 500;

}

.navLink {
    color: var(--color-white);
}

.active {
    color: var(--color-primary);
    text-decoration: none;
    &::after {
    width: 100%;
    color: var(--color-primary)
}
}

.navLink::after, .active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: var(--color-primary);
    transition: width 0.2s ease;
}

.navLink:hover::after,
.active::after {
    width: 100%;
    color: var(--color-primary)
}

.cta {
    display: flex;
    align-items: center;
}


/* Mobile Menu */
.hamburger {
  display: none;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;

  span {
    display: block;
    height: 2px;
    width: 24px;
    background: var(--color-primary);
    margin: 5px auto;
    transition: all 0.25s ease;
  }
}

/* Hamburger animation */
.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* Mobile Menu */
.mobileMenu {
    display: none;
    background: #fff;
    border-top: 1px solid #e5e7eb;
    position: absolute;
    top: 0;
    height: 100vh;
    right: 0;
    width: 70vw;
}

.navMobile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-md);
  padding: var(--space-lg);
  height: 100%;
  width: 100%;
}

.mobileLink {
  font-size: var(--font-lg);
  text-decoration: none;
  color: var(--color-text);
}


/* Responsive */
@media (max-width: 768px) {
  .navDesktop, .cta {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobileMenu.show {
    display: block;
  }
}