@mixin container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: 1rem;
}

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 640px) { @content; }
  }
  @if $breakpoint == md {
    @media (max-width: 768px) { @content; }
  }

  @if $breakpoint == lg {
    @media (max-width: 1024px) { @content; }
  }
  @if $breakpoint == xl {
    @media (max-width: 1280px) { @content; }
  }
}