@use './variables';
@use './layout';
@use './mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-md);
  line-height: var(--lh-normal);
  font-family: "Inter", sans-serif;
  color: var(--color-black);
}

p,h1,h2,h3,h4 {
  margin: 0;
}