@use './variables';
@use './layout';
@use './mixins';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-md);
  line-height: var(--lh-normal);
  font-family: "Inter", sans-serif;
  color: var(--color-black);
}

p,h1,h2,h3,h4,a {
  margin: 0;
  text-decoration: none;
}

.seoImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.service-carousel {
  padding: 0 24px;

  .slick-slide {
    padding: 0 12px;
  }
  .slick-slide div {
    width: 100%;
  }

  .slick-list {
    overflow: visible; // WAJIB untuk centerMode
  }
}