.clientSection {
    padding: var(--space-md);
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        text-align: center;
    }
    padding: var(--space-2xl) 0;
}

.clientList {
    margin-top: var(--space-2xl);
}