.serviceList {
  position: relative;
  width: 100%;
  min-height: 100svh;
  background-image: url("/images/service-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: var(--space-3xl) 0;
}

.carouselWrapper {
    position: relative;
    margin-top: var(--space-xl);
    @media (min-width: 601px) {
      display: none;
    }
}

.serviceContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-3xl);
    flex-direction: column;
    color: var(--color-white);
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-md);
    width: 100%;
  @media (max-width: 600px) {
      display: none;
    }
    @media (min-width: 601px) and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 1024px) {
    gap: var(--space-sm);
    
  }
}