.serviceItem {
  padding: var(--space-sm);
  border-radius: var(--radius-lg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.35s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: flex-end;
  position: relative;
  &:hover {
    transform: translateY(-8px);
    transform: scale(1.05);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
  }

  @media (max-width: 1024px) {
    height: 35svh;
  }

  @media (min-width: 601px) {
      min-height: 53svh;
  }
  @media (max-width: 600px) {
    height: 350px;
    width: 250px;
  }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    text-align: center;
    color: var(--color-white);
    }

    h3 {
        font-size: var(--font-lg);
    }

    p {
        line-height: var(--lh-tight);
        font-size: var(--font-md);
        font-weight: 300;
    }
}