.inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: var(--space-2xl);
    padding: var(--space-2xl) 0;

    @media (max-width:650px) {
    grid-template-columns: 1fr;
    }

    .journey {
        padding: var(--space-xl);
        color: var(--color-white);
        border-radius: var(--radius-xl);
    }
}