.inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: var(--space-2xl);
    color: var(--color-white);

    @media (max-width:650px) {
    grid-template-columns: 1fr;
    }

    .itemContainer {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: var(--space-2xl) var(--space-lg);
        border-radius: var(--radius-xl);
        
        p {
            text-align: center;
        }
    }
    .vision {
        background-image: url("/images/vision-bg.png");
    }

    .mission {
        background-image: url("/images/mission-bg.png");
    }
}