.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  font-weight: 500;
  border-radius: var(--radius-md);
  cursor: pointer;
  border: none;
  text-decoration: none;
  white-space: nowrap;
}

/* Sizes */
.btn-sm {
  height: var(--btn-h-sm);
  padding-inline: var(--btn-px-sm);
  font-size: var(--btn-font-sm);
}

.btn-md {
  height: var(--btn-h-md);
  padding-inline: var(--btn-px-md);
  font-size: var(--btn-font-md);
}

.btn-lg {
  height: var(--btn-h-lg);
  padding-inline: var(--btn-px-lg);
  font-size: var(--btn-font-lg);
}

/* Variants */
.btn-primary {
  background: var(--color-primary);
  color: var(--color-white)
}

.btn-secondary {
  background: var(--color-white);
  color: var(--color-black);
}
